.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#f3fd49, #fbbc07);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.header__navbar-item {
    margin:0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:1px solid rgba(0, 0, 0,0.2)
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 600;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    top:calc(100% + 2px);
    padding-left: 0;
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 1px #999;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    position: absolute;
    border-color:transparent transparent var(--white-color) transparent;
    right: 0px;
    top: -29px;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -10px;
    width: 88%;
    height: 12px;
}

.header__navbar-user-item {

}

.header__navbar-user-item-separate {
    border-top: 1px solid rgba(0, 0, 0,0.05);
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #f8f8f8;
}

.header__navbar-item--has-pr:hover  .header__pr{
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
        display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-size: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items:center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
    font-weight: 600;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 11px;
    right: -9px;
    top:50%;
    transform: translateY(-50%);
    background-color: #c6a40c;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
    margin: 2px;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 4px;
}

.header__navbar-icon {
    font-size: 1.2rem;
    margin-right: 1px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color)
}

/* Header QR code */

.header__pr {
    width: 140px;
    background-color: #f9f9f9;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    animation: fadeIn ease-in 0,2s;
    display: none;
}

.header__pr::before {
    position: absolute;
    left: 0;
    top: -18px;
    width: 100%;
    height: 18px;
    content: "";
    display: block;
}

.header__pr-img {
    width: 100%;
}

.header__pr-apps {
    display: flex;
    justify-content: space-between;
}

.header__pr-link:nth-child(1) {
    margin-left: 10px;
}

.header__pr-link:nth-child(2) {
    margin-left: 10px;
}


.header__pr-download-img {
    height: 10px;
}

/* Header notification */

.header__notify {
    position: absolute;
    z-index: 1;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid (0, 0, 0, 0.2);
    background-color: #f9f9f9;
    border-radius: 2px;
    cursor: default;
    animation: headerNOtifyGrowth ease-in 0,2s;
    will-change: opacity, transform;
    transform-origin: calc(100% - 32px) top right;
    display: none;
}

.header__notify::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent #f9f9f9 transparent;
    position: absolute;
    right: 0px;
    top: -28px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 14px;
    width: 82px;
    height: 19px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 38px;
    /* background-color: #f9f9f9; */
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 38px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(251, 189, 8, 0.15);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 51px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 500;
    line-height: 1.6rem;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: dimgray;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--black-color);
    padding: 9px 48px;
    margin: auto;
    font-size: 1.6rem;
    font-weight: 400;
}

/* Authen modal */



/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
}

.header__logo-img {
    margin-left: 11px;
    width: 70px;
}

.header__search {
    flex-grow: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-icon {
    font-size: 2rem;
    color: var(--white-color);
    margin-top: 4px;
}

.header__cart-wrap:hover .header__cart-list {

}

.header__cart-list {

}

.header__cart-heading {

}

.header__cart-list-item {

}

.header__cart-item {

}

.header__cart-img {

}

.header__cart-item-info {

}

.header__cart-item-head {

}

.header__cart-item-name {

}

.header__cart-item-price {

}

.header__cart-item-multiply {

}

.header__cart-item-qnt {

}

.header__cart-item-body {

}

.header__cart-item-remove {

}

.header__cart-item-remove:hover {

}

.header__cart-view-cart {

}

.header__cart-view-cart:hover {

}

.header__cart-list::after {

}

.header__cart-list--no-cart {

}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {

}

.header__cart-no-cart-img {

}

.header__cart-notice {

}

.header__cart-list-no-cart-msg {

}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #7c7878;
    margin: 0 16px 0 8px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #fbd25b;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
} 

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% 5px);
    width: 120px;
    list-style: none;
    padding-left: 0;
    box-shadow: 0 1px 1px #999;
    display: none;
    animation: fadeTn ease-in 0.2s;
}

.header__search-option::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 17px;
    top: -15px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 8px;
    padding-left: 0;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
} 

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 12px;
}


.header__search-option-item i {
    font-size: 1,2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: calc(100% - 12px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 1px #999;
    display: none;
}

.header__search-history-heading {
    margin: 6px 16px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    list-style: none;
    padding: 0;
    margin: 8px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

/* .header__search-history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
} */
 
.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    line-height: 38px;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
}
